<% provide(:contacts_active, 'active') %>

<% if current_user && current_user.admin %>
  <div class="container-fluid">
    <div class="row" style="margin-top: 10vh">
      <% @contacts.each do |contact| %>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="float-right">
                <%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-sm btn-danger" %>
              </div>

              <i class="far fa-clock"></i>
              <small class="text-muted"><%= time_ago_in_words(contact.created_at) %>
              ago by
              <% if contact.user.name? %>
                <%= contact.user.name %>
              <% else %>
                <%= contact.user.email %>
              <% end %>
              </small>
              <p class="card-text"><%= contact.message %></p>
            </div>
          </div>
          <br>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
<div class="container-fluid" style="margin-top: 20vh">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="text-center">
        <%= link_to '+ Contact', new_contact_path,:class=>"btn btn-md btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>