<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light #fafafa grey lighten-5 scrolling-navbar">
    <div class="container-fluid">
      <strong>
        <%= link_to "UKLK RENTAL SYSTEM", root_path, :class=>"navbar-brand" %>
      </strong>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Find House", root_path, :class=>"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Booking Requests", bookings_path, :class=>"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Reports", reports_path, :class=>"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Contacts", contacts_path, :class=>"nav-link"%>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <% if current_user.name? %>
                <%= current_user.name %>
              <% else %>
                <%= current_user.email %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to edit_user_registration_path, :class=>"dropdown-item" do %>
                <i class="fas fa-cog mr-2"></i> Account Setup
              <% end %>
              <%= link_to rails_admin_path, :class=>"dropdown-item" do %>
                <i class="fas fa-chart-line mr-2"></i> Dashboard
              <% end %>

              <%= link_to destroy_user_session_path, method: :delete, :class=>"dropdown-item" do %>
                <i class="fas fa-sign-out-alt mr-2"></i> Log-Out
              <% end %>

            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>